[Desktop Entry]
Type=Application
Name=DevSecArch Installer
Comment=Install DevSecArch Linux
Exec=/usr/bin/archinstall
Icon=system-software-install
Terminal=true
Categories=System;
