[Desktop Entry]
Type=Application
Name=ForxoOS Installer
Comment=Install ForxoOS Linux
Exec=/usr/bin/archinstall
Icon=system-software-install
Terminal=true
Categories=System;
