[Desktop Entry]
Type=Application
Name=ForxoOS Installer
Comment=Install ForxoOS Linux
Exec=/usr/bin/archinstall
Icon=/usr/share/pixmaps/forxoos.svg
Terminal=true
Categories=System;
