set default="0"
set timeout=5
set gfxmode=auto

insmod all_video
insmod gfxterm
insmod png

terminal_input console
terminal_output gfxterm

loadfont unicode

menuentry "DevSecArch Linux (x86_64)" {
    set gfxpayload=keep
    linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisolabel=DEVSECARCH_2026
    initrd /arch/boot/x86_64/initramfs-linux.img
}

menuentry "DevSecArch Linux (x86_64 - Copy to RAM)" {
    set gfxpayload=keep
    linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisolabel=DEVSECARCH_2026 copytoram
    initrd /arch/boot/x86_64/initramfs-linux.img
}
